.todoLi {
  display: flex;
  align-items: center;
  margin: 1% 0;
}

.deleteBtn {
  display: none;
}

.todoLi:hover .deleteBtn {
  display: inline;
}

.todoForm {
  display: flex;
  width: 100%;
  height: 35px;
}

.todoText {
  flex-grow: 9;
  padding-left: 2%;
  border: none;
  border-right: 1px gainsboro solid;
}

.checkContainer {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.5%;
  border-radius: 5px 0 0 5px;
}

li {
  list-style: none;
}
